<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.admuc.qrgossip">

    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReaderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QRActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClipboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QRTextActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SMSActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SMSDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebTextActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.admuc.qrgossip.ItemListActivity" />
        </activity>
        -->

    </application>

</manifest>